<h1>
  <marquee scrollamount="50" direction="right" behavior="alternate">
    this is a test!!
  </marquee>
</h1>

<h2>
  <marquee scrollamount="25" direction="left" behavior="alternate">
    <%= 5 + 5 %>
  </marquee>
</h2>